.btn-rules {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px;
  width: 120px;
  text-align: center;
  letter-spacing: 0.2rem;
}
@media (min-width: 1024px) {
  .rules-btn-wrapper{
    
  }
}
