.header {
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}
header h1 span:nth-child(1) {
  color: hsl(229, 64%, 46%);
}
.score-value {
  color: hsl(229, 25%, 31%);
}
