.home {
  margin-top: 100px;
  margin-bottom: 90px;
  width: 280px;
}
.figures-wrapper {
  position: relative;
  height: calc(440px - (115px + 90px));
}
.pentagon-img {
  width: 190px;
  height: 190px;
  display: block;
  margin: auto;
}
.home .option {
  width: 85px;
  height: 85px;
}
.home .scissors-option {
  top: -30px;
  left: 0px;
  right: 0px;
  margin: auto;
}
.home .paper-option {
  right: -40px;
  top: 30px;
}
.home .rock-option {
  bottom: 0px;
  right: 0px;
}
.home .lizard-option {
  bottom: 0px;
  left: 0px;
}
.home .spock-option {
  top: 30px;
  left: -40px;
}
.home .option::after {
  width: 65px;
  height: 65px;
}
.home .option img {
  width: 30px;
  height: 30px;
}
.home .option::after {
  box-shadow: 0 4px 1px 1px hsl(0deg 0% 81.1%) inset;
}
.home .option:active{
  transform: scale(0.9);
}
.home .option:active::before{
  box-shadow: none;
}
@media (min-width: 426px) {
  .home {
    width: 370px;
  }
  .figures-wrapper {
    height: 260px;
  }
  .pentagon-img {
    width: 250px;
    height: 220px;
  }
  .home .option {
    width: 95px;
    height: 95px;
  }
  .home .scissors-option {
    top: -45px;
    margin: auto;
  }
  .home .paper-option {
    right: -20px;
    top: 35px;
  }
  .home .rock-option {
    bottom: -15px;
    right: 30px;
  }
  .home .lizard-option {
    bottom: -15px;
    left: 30px;
  }
  .home .spock-option {
    top: 35px;
    left: -20px;
  }
  .home .option::after {
    width: 75px;
    height: 75px;
  }
  .home .option img {
    width: 45px;
    height: 45px;
  }
}
@media (min-width: 1024px) {
  .home {
    margin-bottom: 0;
    margin-top: 90px;
  }
}
@media (min-width: 1366px) {
  .home {
    height: 340px;
    margin-top: 0px;
  }
  .figures-wrapper {
    height: 330px;
  }
  .pentagon-img {
    width: 100%;
    height: 100%;
  }
  .home .option {
    width: 150px;
    height: 150px;
  }
  .home .option::after {
    width: 115px;
    height: 115px;
  }
  .home .scissors-option {
    top: -60px;
    margin: auto;
  }
  .home .spock-option {
    top: 40px;
    left: -100px;
  }
  .home .paper-option {
    top: 40px;
    right: -100px;
  }
  .home .rock-option {
    bottom: -70px;
    right: -45px;
  }
  .home .lizard-option {
    bottom: -70px;
    left: -45px;
  }
  .home .option img {
    width: 55px;
    height: 55px;
  }
}
