.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  transition: opacity 0.3s ease-in-out;
  opacity:0
}
.pentagon-img {
  width: 200px;
  height: 200px;
}
.home .option {
  width: 90px;
  height: 90px;
}
.home .scissors-option {
  top: 0px;
  margin: auto;
}
.home .paper-option {
  right: 0px;
  top: 85px;
}
.home .rock-option {
  bottom: 0px;
  right: 40px;
}
.home .lizard-option {
  bottom: 0px;
  left: 40px;
}
.home .spock-option {
  top: 85px;
  left: 0px;
}
.home .option:after {
  width: 65px;
  height: 65px;
}
.home .option img{
  width: 30px;
  height: 30px;
}
