.start {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 50px;
}
.option-wrapper {
  position: relative;
  width: 41%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.option::after {
  box-shadow: 0 4px 1px 1px hsl(0deg 0% 81.1%) inset;
}
.start .option {
  width: 110px;
  height: 110px;
  position: relative;
}
.start .option::after {
  position: absolute;
  width: 85px;
  height: 85px;
}
.start .option img {
  width: 45px;
  height: 45px;
}
.option-name {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  z-index: 1;
  text-align: center;
}
.start .btn-rules-wrapper {
  margin-top: 60px;
}

@keyframes shadowAnimate {
  100% {
    box-shadow: 0px 0px 1px 15px hsla(217, 16%, 45%, 0.1),
      0px 0px 1px 35px hsla(217, 16%, 45%, 0.1),
      0px 0px 1px 61px hsla(217, 16%, 45%, 0.1);
  }
}
.winner-indicator {
  animation-name: shadowAnimate;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.moveLeft,
.moveRight {
  animation-duration: 0.7s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.moveLeft {
  animation-name: moveLeftAnimate;
}
.moveRight {
  animation-name: moveRightAnimate;
}
@media (min-width: 768px) {
  .start {
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 100px;
  }
  .option-wrapper {
    position: absolute;
    width: 26%;
  }
  .option-wrapper:nth-child(1) {
    transform: translateX(-60%);
    order: 1;
  }
  .option-wrapper:nth-child(2) {
    transform: translateX(60%);
    order: 3;
  }
  @keyframes moveLeftAnimate {
    100% {
      transform: translateX(-150%);
    }
  }
  @keyframes moveRightAnimate {
    100% {
      transform: translateX(150%);
    }
  }
}
@media (min-width: 1024px) {
  .start {
    margin-top: 80px;
  }
  .option-wrapper {
    position: relative;
    width: auto;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 40px;
  }
  .option::after {
    box-shadow: 0 7px 1px 1px hsl(0deg 0% 81.1%) inset;
  }
  .option-name {
    font-size: 2rem;
  }
  .start .option {
    width: 290px;
    height: 290px;
  }
  .start .option::after {
    width: 240px;
    height: 240px;
  }
  .start .option img {
    width: 110px;
    height: 110px;
  }
  .option-wrapper:nth-child(1) {
    transform: translateX(30%);
  }
  .option-wrapper:nth-child(2) {
    transform: translateX(-30%);
  }
  @keyframes moveLeftAnimate {
    100% {
      transform: translateX(-5%);
    }
  }
  @keyframes moveRightAnimate {
    100% {
      transform: translateX(5%);
    }
  }
  @keyframes shadowAnimate {
    100% {
      box-shadow: 0px 0px 1px 75px hsla(217, 16%, 45%, 0.3),
        0px 0px 1px 145px hsla(217, 16%, 45%, 0.3),
        0px 0px 1px 215px hsla(217, 16%, 45%, 0.3);
    }
  }
  .start .rock-option::before {
    box-shadow: 2px 6px 1px 1px hsl(349, 97%, 30%);
  }

  .start .paper-option::before {
    box-shadow: 2px 6px 1px 1px hsl(230, 97%, 29%);
  }

  .start .scissors-option::before {
    box-shadow: 2px 6px 1px 1px hsl(29, 84%, 30%);
  }

  .start .lizard-option::before {
    box-shadow: 2px 6px 1px 1px hsl(261, 97%, 30%);
  }

  .start .spock-option::before {
    box-shadow: 2px 6px 1px 1px hsl(189, 97%, 30%);
  }
}
@media (min-width:1366px){

}
