.start {
  position: relative;
  display: flex;
  justify-content: space-between;
  transition: opacity 0.3s ease-in-out;
  opacity:0
}

.start .option-wrapper {
  display: flex;
  flex-direction: column;
}
.start .option {
  position: relative;
}
