@import url("./header.css");
@import url("./btnRules.css");
@import url("./home.css");
@import url("./options.css");
@import url("./startgame.css");
@import url("./winner.css");
@import url("./rulesModalPanel.css");

* {
  box-sizing: border-box;
}
html {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 10px;
}
body,
ul,
h1 {
  margin: 0;
}
.container {
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  padding: 25px 0 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
#root {
  width: 85%;
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  opacity: 1;
}
button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
img {
  width: 100%;
  height: auto;
}
@keyframes fadeInAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeInAnimate;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
@media (min-width: 1024px) {
  body {
    height: 100vh;
  }
  .container {
    background: radial-gradient(at center top, #1f3756 28%, #141539 70%);
    padding-bottom: 0;
    height: 100%;
  }
  #root {
    width: auto;
  }
}
@media (min-width: 1366px) {
  #root {
    height: calc(100vh - 11.0185vh);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
