@import url("./header.css");
@import url("./btnRules.css");
@import url("./home.css");
@import url("./options.css");
@import url("./startgame.css");
@import url("./winner.css");
@import url("./rulesModalPanel.css");

* {
  box-sizing: border-box;
}
body,
ul {
  margin: 0;
}
body {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main {
  width: 100vw;
  height: 60vh;
}
section {
  position: relative;
  height: 100%;
}
button {
  border: none;
  border-radius: 5px;
}
